:root {
    --color-primary: #ffecd2;
    --color-secondary: #fcb69f;
    --color-dark-blue: #4d5c76;
    --color-grey: #f1f3f9;
}

/* Boilerplate CSS start */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    
    position: relative;
    font-family: "Edu NSW ACT Foundation", cursive;
}

.main {
    width: 100%;
    height: 100vh;

    background-color: var(--color-primary);
    position: relative;
}
.section {
    position: absolute; 
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
    border-radius: 1rem;
}

/* Section form */
.section--form {
    width: 33%;
    height: 55rem;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    background-color: white;
    z-index: 1;
}

.section__heading {
    text-align: center;
}

.form {
    width: 100%;
    height: 85%;
    padding-right: 1rem;
}

.form__section {
    display: flex;
    flex-direction: column;
    position: relative;
}
.form__section__paragraph {
    font-size: 2rem;
}

.form__section__div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__section__div > input {
    width: 75%;
}   
.form__section__div > a {
    
}
.form__section__add {
    position: absolute;
    bottom: -4rem;
}

.add,
.remove {
    text-decoration: none;
    color: black;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    border-radius: 1rem;
    width: 9rem;
    text-align: center;
    font-size: 1.6rem;
}
.add {
    width: 12rem;
}
.add:hover,
.remove:hover {
    filter: brightness(1.1);
}
.remove {
    margin-right: 1.2rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card input {
    display: none;
}
.card > label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 12rem;
    border-radius: 1rem;
    background-color: var(--color-grey);
    transition: background-color .2s, transform .2s, color .2s;
}
.card input:checked + label {
    background-color: var(--color-dark-blue);
    color: white;
    transform: translateY(-.5rem);
}
.card input:checked + label img {
    filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(179deg) brightness(102%) contrast(102%);
}

.img--chef {
    width: 2rem;
}
label:hover {
    cursor: pointer;
}

/* Section img */
.section--img {
    width: 65%;
    height: 45rem;
    display: flex;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--color-secondary);
    z-index: 0;
}
.container:first-child {
    width: 55%;
    height: 100%;
    /* background-color: red; */
}
.container:last-child {
    width: 45%;
    height: 100%;
    /* background-color: blue; */
}


/* Drop image reusable css */
.drop-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* border: 3px solid pink; */
}
.drop-area__input {

}
.drop-area__img-container {
    width: 90%;
    height: 90%;
    border: 5px dashed var(--color-primary);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.drop-area__img {
    width: 10rem;
}
.drop-area__paragraph {
    font-size: 3rem;
    text-align: center;
}



/* RESUABLE CSS */
/* margin sizings */
.margin-bottom-small {
    margin-bottom: 1rem;
}
.margin-bottom-medium {
    margin-bottom: 2rem;
}
.margin-bottom-big {
    margin-bottom: 6rem;
}
/* heading sizing */
.heading--2 {
    font-size: 2.5rem;
}

/* add scrolling effect for overflowing content */
.scroll {
    overflow: auto;
}
.scroll::-webkit-scrollbar {
    width: 10px;
}
 
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
}
 
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    background-color: #fcb69f;
}
/* buttons */
.button {
    background-color: var(--color-secondary);
    padding: 1.5rem 4rem;
    border: none;
    font-size: 2rem;
    border-radius: 1rem;
}
.button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}
/* label */
label {
    font-size: 2.2rem;
}
/* inputs */
input,
textarea {
    background-color: var(--color-grey);
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    border: 2px solid transparent;
    font-size: 1.8rem;
}
input:focus,
textarea:focus {
    outline: none;
    border: 2px solid var(--color-secondary);
}
